body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.animalAttr { 
  font-family: URW Chancery L, cursive;
  font-size: 15px;
  background-color: blanchedalmond;
  width: 120px; 
}